* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: transparent;
  }
  10% {
    transform: scale(3);
    color: firebrick;
  }
  100% {
    transform: scale(3);
    color: transparent;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #111;
  color: #ddd;
  letter-spacing: 4px;

  .loader {
    display: grid;
    place-items: center;
    height: 100vh;

    .loading {
      font-size: 6.25rem;
      animation: pulse 1s linear infinite;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .heading {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      margin: 0.5rem 0;
      border-radius: 0.5rem;
      color: firebrick;
      text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
    }

    ul {
      background-color: #000;

      li {
        list-style-type: none;
        font-size: 1.25rem;
        font-weight: bold;
        width: 22rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid firebrick;

        &:hover::before,
        &:hover::after {
          content: "🔥";
        }

        &:hover {
          background-color: firebrick;
          transition: background-color 1s;
        }

        &:hover .robohash:first-child {
          transform: scaleX(1);
        }

        &:hover .robohash:last-child {
          transform: scaleX(-1);
        }
      }
    }

    .robohash {
      width: 3rem;
      height: 3rem;
      cursor: none;

      &:first-child {
        transform: scaleX(-1);

        &:first-child:hover {
          transform: scaleX(-1);
        }
      }

      &:last-child {
        transform: scaleX(1);

        &:last-child:hover {
          transform: scaleX(1);
        }
      }
    }

    .robohash:hover ~ .robohash {
      transform: rotate(30deg);
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0;
      margin: 2rem auto 0.5rem auto;
      width: 22rem;
      background-color: firebrick;
      color: #ddd;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.25rem;
      font-weight: bolder;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ddd;
        color: firebrick;
      }
    }

    label {
      text-transform: uppercase;
      margin-top: 0.25rem;
      padding: 0.5rem 0 0.5rem 2rem;
      font-weight: bold;
      width: 22rem;
      display: flex;
      align-items: center;
      border: 1px solid firebrick;
      cursor: pointer;

      &:hover {
        background-color: firebrick;
        transition: background-color 0.3s;
      }

      input {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        cursor: pointer;
        background-color: transparent;
      }

      input[type="checkbox"] {
        appearance: none;
        border: 0.5rem solid firebrick;
        border-radius: 50%;

        &:checked {
          background-color: #ddd;
          border: 0.5rem solid #080;
        }

        &:not(:checked):hover {
          background-color: inherit;
          border: 0.25rem solid #ddd;
        }

        .label-select-all {
          border: none;

          .select-all {
            width: 2rem;
            height: 1rem;
          }
        }
      }
    }

    .add-student-form {
      margin-top: 0.75rem;

      input {
        width: 18rem;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 0.5rem 0 0 0.5rem;
      }

      button {
        padding: 0.75rem 1rem;
        font-size: 1rem;
        font-weight: bold;
        background-color: firebrick;
        color: #ddd;
        border: none;
        border-radius: 0 0.5rem 0.5rem 0;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #ddd;
          color: firebrick;
        }
      }
    }
  }
}
