* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #111;
  color: #ddd;

  h1,
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    background-color: #222;
  }

  .btn {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 5rem auto;
    background-color: firebrick;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.25rem;
    font-weight: bolder;
    border: none;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ddd;
      color: firebrick;
    }
  }
}
